@use "variables" as v;

// body {
//   background-color: v.$color-old-white;
// }

a {
  text-decoration: none;
  &:link,
  &:visited {
    color: inherit;
  }
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
