@use "variables" as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 1.6rem/1.5 v.$font-stack;
  background-color: navy;
}
